h1, h2, h3, h4 {
    color: var(--text-color);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    font-size: x-large;
    text-align: justify;
    color: var(--paragraph-color);
    font-family: 'Poppins', sans-serif;
}

.bio-image {
    border-radius: 5%;
    scale: 50%;
}
